%tr
  %td #{team1} - #{team2}
  %td=select :result, resultCode,
    [["#{team1} võidab normaalajal",'1A'],
    ["#{team2} võidab normaalajal",'1B'],
    ["#{team1} võidab lisaajal või penaltitega",'2A'],
    ["#{team2} võidab lisaajal või penaltitega",'2B']],
    {:selected => "#{userTeam == nil ? nil : userTeam.result}", :prompt => '- vali -'}
  %td= link_to 'Vaata teiste ennustusi', knockout_phase_show_all_path(@tournament_id, @user.id, resultCode, team1: team1, team2: team2)