%h2 Ennusta turniiri neli parimat meeskonda

= form_tag finals_teams_path, :method => :post do
  Võitja: 
  =select :result, 'F1', @teams.collect{|p| [p.name, p.id]}, :selected => "#{@userTeamF1 == nil ? nil : @userTeamF1.team_id}"
  %br
  %br
  Teine koht: 
  =select :result, 'F2', @teams.collect{|p| [p.name, p.id]}, :selected => "#{@userTeamF2 == nil ? nil : @userTeamF2.team_id}"
  %br
  %br
  Kolmas koht: 
  =select :result, 'F3', @teams.collect{|p| [p.name, p.id]}, :selected => "#{@userTeamF3 == nil ? nil : @userTeamF3.team_id}"
  %br
  %br
  Neljas koht: 
  =select :result, 'F4', @teams.collect{|p| [p.name, p.id]}, :selected => "#{@userTeamF4 == nil ? nil : @userTeamF4.team_id}"
  %br
  %br
  = hidden_field_tag "user_id", @user_id
  = submit_tag 'Salvesta'
= button_to 'Tagasi', user_path(@user_id), :method => :get