%h2 Ennusta veerandfinaalide võitjad

= form_tag quarterfinals_teams_path(@tournament_id, @user.id), :method => :post do
  %table#teams.table.table-striped.table-hover
    %thead
      %tr
        %th Mäng
        %th Tulemus
        %th
    %tbody
      = render 'knockoutPhaseGame', :team1 => @teams[0], :team2 => @teams[1], :resultCode => 'Q1', :userTeam => @userTeamQ1
      = render 'knockoutPhaseGame', :team1 => @teams[2], :team2 => @teams[3], :resultCode => 'Q2', :userTeam => @userTeamQ2
      = render 'knockoutPhaseGame', :team1 => @teams[4], :team2 => @teams[5], :resultCode => 'Q3', :userTeam => @userTeamQ3
      = render 'knockoutPhaseGame', :team1 => @teams[6], :team2 => @teams[7], :resultCode => 'Q4', :userTeam => @userTeamQ4
  * Õige vastus annab 14 punkti. Õige võitja aga vale vastus annab 7 punkti.
  %br
  %br
  = hidden_field_tag "user_id", @user.id
  = hidden_field_tag "tournament_id", @tournament_id
  .d-flex.justify-content-start
    - if @tournament_open == true
      - if @user.name == 'tegelikud tulemused' || @sys_params.find{|param| param.code == 'QUARTERFINALS_ENABLED'}.value.to_i == 1
        = submit_tag 'Salvesta', :class => 'btn btn-primary me-3 responsive-button'
    = link_to 'Tagasi', tournament_user_path(@tournament_id, @user.id), :method => :get, :class => 'btn btn-secondary responsive-button'

%br
%br
%br
%h2 Alagrupid
%table#groups.table.table-striped.table-hover
  %thead
    %tr
      %th A
      %th B
      %th C
      %th D
      - if !@tournament.em2012
        %th E
        %th F
        - if @tournament.mm
          %th G
          %th H
  %tbody
    - @teamsByGroup.each do |teams|
      %tr
        - teams.each do |t|
          %td= "#{t.name}"