%h2 Ennusta veerandfinaalide võitjad

= form_tag quarterfinals_teams_path(@tournament_id, @user.id), :method => :post do
  %table#teams
    %thead
      %tr
        %th Mäng
        %th Tulemus
        %th
    %tbody
      = render 'knockoutPhaseGame', :team1 => @team1, :team2 => @team2, :resultCode => 'Q1', :userTeam => @userTeamQ1
      = render 'knockoutPhaseGame', :team1 => @team3, :team2 => @team4, :resultCode => 'Q2', :userTeam => @userTeamQ2
      = render 'knockoutPhaseGame', :team1 => @team5, :team2 => @team6, :resultCode => 'Q3', :userTeam => @userTeamQ3
      = render 'knockoutPhaseGame', :team1 => @team7, :team2 => @team8, :resultCode => 'Q4', :userTeam => @userTeamQ4
  * Õige vastus annab 10 punkti. Õige võitja aga vale vastus annab 5 punkti.
  %br
  %br
  = hidden_field_tag "user_id", @user.id
  = hidden_field_tag "tournament_id", @tournament_id
  -#- if @user.name == 'tegelikud tulemused'
  -#  = submit_tag 'Salvesta', :class => 'form_btn'
  = submit_tag 'Salvesta', :class => 'form_btn'
= button_to 'Tagasi', tournament_user_path(@tournament_id, @user.id), :method => :get, :class => 'form_btn'

%br
%br
%br
%h2 Alagrupid
%table#groups
  %thead
    %tr
      %th A
      %th B
      %th C
      %th D
      - if !@tournament.em2012
        %th E
        %th F
        - if @tournament.mm
          %th G
          %th H
  %tbody
    - @teamsByGroup.each do |teams|
      %tr
        - teams.each do |t|
          %td= "#{t.name}"