%h2 Ennusta veerandfinaalide võitjad

= form_tag quarterfinals_teams_path(@tournament_id, @user.id), :method => :post do
  #{@team1} - #{@team2}: 
  =select :result, 'Q1', 
    [["#{@team1} võidab normaalajal",'1A'],
    ["#{@team2} võidab normaalajal",'1B'],
    ["#{@team1} võidab lisaajal või penaltitega",'2A'],
    ["#{@team2} võidab lisaajal või penaltitega",'2B']], 
    {:selected => "#{@userTeamQ1 == nil ? nil : @userTeamQ1.result}", :prompt => '- vali -'}
  %br
  %br
  #{@team3} - #{@team4}: 
  =select :result, 'Q2', 
    [["#{@team3} võidab normaalajal",'1A'],
    ["#{@team4} võidab normaalajal",'1B'],
    ["#{@team3} võidab lisaajal või penaltitega",'2A'],
    ["#{@team4} võidab lisaajal või penaltitega",'2B']], 
    {:selected => "#{@userTeamQ2 == nil ? nil : @userTeamQ2.result}", :prompt => '- vali -'}
  %br
  %br
  #{@team5} - #{@team6}: 
  =select :result, 'Q3', 
    [["#{@team5} võidab normaalajal",'1A'],
    ["#{@team6} võidab normaalajal",'1B'],
    ["#{@team5} võidab lisaajal või penaltitega",'2A'],
    ["#{@team6} võidab lisaajal või penaltitega",'2B']], 
    {:selected => "#{@userTeamQ3 == nil ? nil : @userTeamQ3.result}", :prompt => '- vali -'}
  %br
  %br
  #{@team7} - #{@team8}: 
  =select :result, 'Q4', 
    [["#{@team7} võidab normaalajal",'1A'],
    ["#{@team8} võidab normaalajal",'1B'],
    ["#{@team7} võidab lisaajal või penaltitega",'2A'],
    ["#{@team8} võidab lisaajal või penaltitega",'2B']], 
    {:selected => "#{@userTeamQ4 == nil ? nil : @userTeamQ4.result}", :prompt => '- vali -'}
  %br
  %br
  * Õige vastus annab 10 punkti. Õige võitja aga vale vastus annab 5 punkti.
  %br
  %br
  = hidden_field_tag "user_id", @user.id
  = hidden_field_tag "tournament_id", @tournament_id
  -#- if @user.name == 'tegelikud tulemused'
  -#  = submit_tag 'Salvesta', :class => 'form_btn'
  = submit_tag 'Salvesta', :class => 'form_btn'
= button_to 'Tagasi', tournament_user_path(@tournament_id, @user.id), :method => :get, :class => 'form_btn'

%br
%br
%br
%h2 Alagrupid
%table#groups
  %thead
    %tr
      %th A
      %th B
      %th C
      %th D
      - if @tournament.mm || @tournament.em2016
        %th E
        %th F
        - if @tournament.mm
          %th G
          %th H
  %tbody
    - @teamsByGroup.each do |teams|
      %tr
        - teams.each do |t|
          %td= "#{t.name}"