%h2 Ennusta kaheksandikfinaalide võitjad

= form_tag round_of_16_teams_path(@tournament_id, @user.id), :method => :post do
  = render 'roundOf16Game', :team1 => @teams[0], :team2 => @teams[1], :resultCode => 'R1', :userTeam => @userTeamR1
  = render 'roundOf16Game', :team1 => @teams[2], :team2 => @teams[3], :resultCode => 'R2', :userTeam => @userTeamR2
  = render 'roundOf16Game', :team1 => @teams[4], :team2 => @teams[5], :resultCode => 'R3', :userTeam => @userTeamR3
  = render 'roundOf16Game', :team1 => @teams[6], :team2 => @teams[7], :resultCode => 'R4', :userTeam => @userTeamR4
  = render 'roundOf16Game', :team1 => @teams[8], :team2 => @teams[9], :resultCode => 'R5', :userTeam => @userTeamR5
  = render 'roundOf16Game', :team1 => @teams[10], :team2 => @teams[11], :resultCode => 'R6', :userTeam => @userTeamR6
  = render 'roundOf16Game', :team1 => @teams[12], :team2 => @teams[13], :resultCode => 'R7', :userTeam => @userTeamR7
  = render 'roundOf16Game', :team1 => @teams[14], :team2 => @teams[15], :resultCode => 'R8', :userTeam => @userTeamR8
  * Õige vastus annab 8 punkti. Õige võitja aga vale vastus annab 4 punkti.
  %br
  %br
  = hidden_field_tag "user_id", @user.id
  = hidden_field_tag "tournament_id", @tournament_id
  -#- if @user.name == 'tegelikud tulemused'
  -#  = submit_tag 'Salvesta', :class => 'form_btn'
  = submit_tag 'Salvesta', :class => 'form_btn'
= button_to 'Tagasi', tournament_user_path(@tournament_id, @user.id), :method => :get, :class => 'form_btn'

%br
%br
%br
%h2 Alagrupid
%table#groups
  %thead
    %tr
      %th A
      %th B
      %th C
      %th D
      %th E
      %th F
      - if @tournament.mm
        %th G
        %th H
  %tbody
    - @teamsByGroup.each do |teams|
      %tr
        - teams.each do |t|
          %td= "#{t.name}"