%h2 Ennusta mängude tulemused

= form_tag games_path, :method => :post do
  %table#users
    %thead
      %tr
        %th Alagrupp
        %th Mäng
        %th Tulemus
    %tbody
      - @games.each do |game|
        = fields_for :game, game do |g|
          %tr
            %td= game.group
            %td= "#{@teams.select{|team| team.id == game.team1_id}[0].name} - #{@teams.select{|team| team.id == game.team2_id}[0].name}"
            %td= select :result, "#{game.id}",
              [["#{@teams.select{|team| team.id == game.team1_id}[0].name} võidab kuni kahe väravaga",'1A'],
              ["#{@teams.select{|team| team.id == game.team1_id}[0].name} võidab vähemalt kolme väravaga",'1B'],
              ["#{@teams.select{|team| team.id == game.team2_id}[0].name} võidab kuni kahe väravaga",'2A'],
              ["#{@teams.select{|team| team.id == game.team2_id}[0].name} võidab vähemalt kolme väravaga",'2B'],
              ['Mäng lõppeb viigiga','X']], 
              {:selected => "#{@userGames == nil || @userGames.empty? || @userGames.select{|userGame| game.id == userGame.game_id}.empty? ? '' : @userGames.select{|userGame| game.id == userGame.game_id}[0].result}", 
               :prompt => '- vali -'}, 
               {:class=>"games"}
  = hidden_field_tag "user_id", @user.id
  = submit_tag 'Salvesta'
  = button_to 'Tagasi', user_path(@user.id), :method => :get